form label {
  color: rgb(0, 0, 0);
  font-size: 23px;
  font-weight: 300;
}
.home {
  height: 100vh;
  width: 33% 33%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 25vh;
}

.home .box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 255, 0.192);
  border-radius: 8px;
  padding: 5rem 15rem;
  box-shadow: 0px 0px 5px 5px rgba(255 255 255 / 60%);
}
.dropdown-status {
  position: absolute;
  z-index: 999;
  margin-left: 2rem;
  margin-top: 1rem;
}
.dropdown-menus.dropdown-menu.show {
  background-color: rgba(0, 0, 255, 0.192);
}
a.dropdown-item {
  color: white;
}

#dropdown-basic {
  box-shadow: 0px 0px 2px 2px rgba(255 255 255 / 60%);
}
form input {
  margin-bottom: 2rem;
  align-content: right;
  box-shadow: 0 2px 2px #000000;
}
form input:focus {
  outline-color: #059499f1;
}

.bungkus .modal-body {
  backdrop-filter: blur(2px);
  box-shadow: 0 0 2px #f8f8f8, 0 0 10px #059499f1, 0 0 10px #059499f1, 0 0 20px #059499f1;
  background: linear-gradient(160deg, #ffffff77, #b3b1b1b4) !important;

  border-radius: 30px !important;
}

.bungkus .modal-content {
  border-radius: 30px !important;
  background: none !important;
}

.Scren-Record-Wrapper {
  margin-top: 35px;
}

.wrapper-luar {
  display: flex;
  justify-content: space-around;
}

.card {
  min-width: 15rem;
}
